<% if show_back_to_search? %>
  <%= link_to_current_search(@developer_presenter.secure_reference) %>
<% end %>

<% if @developer_presenter.public? || @developer_presenter.can_see_developer? %>
  <p>
    <a href="http://github.com/<%= @developer_presenter.login %>" class="button" target="blank">Github Profile</a>
  </p>

  <% if @developer_presenter.can_show_toggle_watch_link? %>
    <% toggle_watch_label = !@developer_presenter.watching? ? "Watch developer" : "Stop watching developer" %>
    <%= link_to toggle_watch_label, developer_watch_path(@developer_presenter.secure_reference), class: "button", method: :put  %>
  <% end %>

  <% if (linkedin_profile = linkedin_profile(@developer_presenter.login)) && current_user.is_a_recruiter? && current_user.recruiter.beta_user? %>
    <a href="<%= linkedin_profile %>" class="button" target="blank">LinkedIn Profile</a>
  <% end %>
<% end %>

<% if @developer_presenter.can_show_toggle_public_link? %>
  <% toggle_public_label = @developer_presenter.public? ? "Make profile private" : "Make profile public" %>
  <%= link_to toggle_public_label, developer_public_path(@developer_presenter.secure_reference), class: "button", method: :put  %>
<% end %>
