<div class="row">
  <%= form_for("/filter", method: :get) do |f| %>
    <div class="row">
      <div class="medium-6 columns">
        <%= label_tag(:location, "Location:") %>
        <%= text_field_tag(:location, @location) %>
      </div>
      <div class="medium-6 columns">
        <%= label_tag(:languages, "Skills (separated by ,):") %>
        <%= text_field_tag(:languages, @languages)  %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <%= submit_tag("Search", class: "button radius small") %>
      </div>
    </div>
  <% end %>
</div>

<% if @candidates.any? %>
  <%= render partial: "shared/users_data", locals: { candidates: @candidates, language: @language } %>
<% else %>
    No Results
<% end %>
