<div class="row">
  <h2><%= @developer.name %></h2>
</div>


<div class="row">
  <div class="medium-4 columns a">
    <%= image_tag @developer.avatar, class: "img-responsive img-rounded" %>
    <p> Location: <%= @developer.location %> </p>
    <% if @developer.hireable %>
      <p><mark>Available for hire!</mark></p>
    <% end %>
    <% if @developer.push_events.any? && @developer.pull_request_events.any? %>
      <h5>Latest activity</h5>
      <ul>
        <li><strong>Latest activity <%= @developer.latest_activity_date.strftime("%F") %></strong></li>
        <li>Commits pushed: <%= @developer.commits_pushed %></li>
        <li>PR opened: <%= @developer.pull_requests_opened %></li>
        <li>PR merged: <%= @developer.pull_requests_merged %></li>
      </ul>
    <% end %>
    <% can_contact_developer = current_user.is_a_recruiter? && current_user.can_see_developer?(@developer) %>

    <% if can_contact_developer && @developer.can_be_contacted? %>
      <p><a href="http://github.com/<%= @developer.login %>" class="btn btn-info" target="blank">Github Profile</a></p>
      <%= form_for(@developer.developer, as: :developer_contact, url: developer_contact_url(@developer.developer.secure_reference), method: :post) do %>
        <div class="form-group">
          <label for="body-input">Message</label>
          <textarea  class="form-control" rows="3" id="body-input" name="body"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Contact Me</button>
      <% end %>
    <% elsif can_contact_developer && !@developer.can_be_contacted? %>
      <p>Sorry this person can't be contacted.</p>
    <% else %>
      <a href="/subscribers/new" class="btn btn-success">Contact Me</a>
    <% end %>
  </div>
  <div class="medium-6 medium-offset-1 columns end">
    <%= render partial: 'shared/languages_chart', locals: { user: @developer } %>

    <% if (can_contact_developer && @developer.can_be_contacted?) || ( current_user.is_a_developer? && current_user.can_see_developer?(@developer))  %>
      <ul class="code-samples-list">
        <li><h4>Code samples</h4></li>
        <% @developer.developer_skills.each do |developer_skill| %>
          <% if developer_skill.code_example.present? %>
              <li>
                <%= developer_skill.skill.name %>
                <a href="http://github.com/<%= @developer.login%>/<%= developer_skill.code_example %>"><%= developer_skill.code_example %></a></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
