<h2><%= @developer.name %></h2>

<div class="row">
  <div class="col-md-4">
    <%= image_tag @developer.avatar, class: "img-responsive img-rounded" %>
    <p> Location: <%= @developer.location %> </p>
    <% if @developer.hireable %>
      <p><mark>Available for hire!</mark></p>
    <% end %>

    <% can_contact_developer = current_user.is_a_recruiter? && current_user.can_see_developer?(@developer) %>

    <% if can_contact_developer && @developer.can_be_contacted? %>
      <%= form_for(@developer.developer, as: :developer_contact, url: developer_contact_url(@developer.developer.secure_reference), method: :post) do %>
        <div class="form-group">
          <label for="body-input">Message</label>
          <textarea  class="form-control" rows="3" id="body-input" name="body"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Contact Me</button>
      <% end %>
    <% elsif can_contact_developer && !@developer.can_be_contacted? %>
      <p>Sorry this person can't be contacted.</p>
    <% else %>
      <a href="/subscribers/new" class="btn btn-success">Contact Me</a>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= render partial: 'shared/languages_chart', locals: { user: @developer } %>
  </div>
</div>
