<h2><%= @user.obfuscated_name %></h2>

<div class="row">
  <div class="col-md-4">
    <% if session[:developer_id] == @user.id %>
      <%= image_tag @user.gravatar_url, class: "img-responsive img-rounded" %>
    <% else %>
      <%= image_tag "no_image_available.png", class: "img-responsive img-rounded" %>
    <% end %>
    <p> Location: <%= @user.location %> </p>
    <% if @user.hireable %>
      <p><mark>Available for hire!</mark></p>
    <% end %>

    <a href="/subscribers/new" class="btn btn-success">Contact Me</a>
  </div>
  <div class="col-md-4">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Language</th>
          <th>Projects</th>
        </tr>
      </thead>
      <tbody>
      <% @user.sorted_languages.each do |language, count| %>
        <tr>
          <td><%= language %></td>
          <td><%= count %></td>
        </td>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

