<div class="row">
  <% if flash[:welcome] %>
  <div data-alert class="alert-box success radius">
    <%= flash[:welcome] %>
    <a href="#" class="close">&times;</a>
  </div>
  <% end %>

  <% if flash[:watched] %>
  <div data-alert class="alert-box success radius">
    <%= flash[:watched] %> <%=link_to "here", recruiter_developers_path(current_user.recruiter.id) %>
    <a href="#" class="close">&times;</a>
  </div>
  <% end %>

  <% if flash[:missing_skills] %>
  <div data-alert class="alert-box alert radius">
    <%= flash[:missing_skills] %>
    <a href="#" class="close">&times;</a>
  </div>
  <% end %>

  <h2><%= @developer_presenter.name %></h2>
</div>

<div class="row">
  <div class="medium-4 columns a">
    <%= image_tag @developer_presenter.avatar, class: "img-responsive img-rounded" %>
    <p> Location: <%= @developer_presenter.location %> </p>

    <% if @developer_presenter.hireable %>
      <p><mark>Available for hire!</mark></p>
    <% end %>

    <%= render "links" %>
  </div>

  <div class="medium-6 medium-offset-1 columns end">
    <%= render partial: 'shared/languages_chart', locals: {
      title: "Projects by language",
      skills: @developer_presenter.developer_skills.where(origin: 'github').map {
        |dev_skill| "['#{dev_skill.skill.name}', #{dev_skill.strength}]" }
      .join(', ').html_safe } %>
    <%= render "interesting_projects" %>
  </div>
</div>
