<h3>Who is around?</h3>
<table class="table">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Location</th>
      <th>Available</th>
      <th>Skills</th>
      <th>Github profile</th>
    </tr>
  </thead>
  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.name %></td>
        <% if candidate.email && !candidate.email.empty? %>
          <td><a href="mailto:<%= candidate.email %>"> Email Me!</a></td>
        <% else %>
          <td>Sorry no email available</td>
        <% end %>
        <td><%= candidate.location %></td>
        <td><%= candidate.hireable %></td>
        <td>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Language</th>
                <th>Projects using it</th>
              </tr>
            </thead>
            <tbody>
            <% candidate.languages.each do |language, count| %>
              <tr>
                <td><%= language %></td>
                <td><%= count %></td>
              </td>
            <% end %>
            </tbody>
          </table>
        </td>
        <td><a href="http://github.com/<%= candidate.login %>"><%= candidate.login %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
