<h2><%= @user.name %></h2>

<div class="row">
  <div class="col-md-4">
    <img class="img-responsive img-rounded" src="<%= @user.gravatar_url %>"/>
    <p> Location: <%= @user.location %> </p>
    <% if @user.hireable %>
      <p><mark>Available for hire!</mark></p>
    <% end %>

    <a href="/subscribe" class="btn btn-success">Contact Me</a>
  </div>
  <div class="col-md-4">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Language</th>
          <th>Projects</th>
        </tr>
      </thead>
      <tbody>
      <% @user.sorted_languages.each do |language, count| %>
        <tr>
          <td><%= language %></td>
          <td><%= count %></td>
        </td>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

