<table class="table">
  <thead>
    <tr>
      <th>Profile</th>
      <th>Location</th>
      <th>Skills</th>
    </tr>
  </thead>
  <tbody>
    <% DeveloperListingPresenter.cast(candidates, viewer: current_user).each do |candidate| %>
      <tr>
        <td>
          <%= link_to candidate.name , developer_profile_path(candidate.secure_reference) %>
          <a href="/user/<%= candidate.id %>">
            <%=  %>
          </a>
        </td>
        <td><%= candidate.location %></td>
        <td><%= render partial: "developers/user_skills", locals: { candidate: candidate, language: language } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate candidates, renderer: BootstrapPagination::Rails %>
