<p class="lead text-center">
  <%= @message %></br>
  The results are sorted in ascededing order, based on how similar they are to you.</br>
</p>

<% @results.each do |comparison_report| %>
  <div class="row">
    <h3><a href="http://github.com/<%= comparison_report.user_b.login %>"><%= comparison_report.user_b.login %></a></h3>
    <ul>
      <li><a href="/experiments/comparator/compare/<%= comparison_report.user_a.login %>/against_user/<%= comparison_report.user_b.login %>?languages=<%= params["languages"] %>">Check their difference</a></li>
      <li>Difference(%) <%= comparison_report.difference_vector.standard_deviation.round(2) %></li>
    </ul>
  </div>
<% end %>
