<h2 class="text-center"> Skill Reduction </h2>
<p class="text-center">
The goal of this experiment is to show the combined skills of a group of developers.<br/>
The more skills users have in common, the more edges the radar graph will have.<br/>
If you are not able to display any skills try removing some of the users and see how that changes<br/>
</p>

<p class="text-center">
Follow us on Twitter for more information
<a href="https://twitter.com/developers_hub" class="twitter-follow-button" data-show-count="false">Follow @developers_hub</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<br/>
We also accept donations to keep the project going <script data-gratipay-username="alvaro" data-gratipay-widget="button" src="//grtp.co/v1.js"></script>
<br/>
<script data-gratipay-username="alvaro" src="//grtp.co/v1.js"></script>
</p>


<div style="width: 45%; margin: auto">
  <ul class="language_comparison-legend" style="list-style: none;">
    <% @raw_dataset_information.each do |info|  %>
      <li style="display: inline">
        <span style="margin-right: 5px; padding: 1px 5px; background-color:<%= info.fetch(:strokeColor) %>">
        </span>
        <a href="http://github.com/<%= info.fetch(:label) %>"><%= info.fetch(:label) %></a>
      </li>
    <% end %>
  </ul>
</div>

<h4 class="text-center">Users Overlapped Skill</h4>
<canvas id="language_comparison" width="400" height="400" style="display: block; width: 0 auto; margin: 0 auto"></canvas>

<p class="text-center">
Values representing presence of skill overall authored commits (in percentage).<br/>
Eg.: 30.0 in Ruby, means a 3 out of 10 commits have Ruby as a skill.<br/>
<strong>NOTE: For technical limitations we are currently only using 5 of your public repositories to calculate this data</strong>
</p>



<h4 class="text-center">User's Mean Combined Skill</h4>
<canvas id="language_reduction" width="400" height="400" style="display: block; width: 0 auto; margin: 0 auto"></canvas>

<script type="text/javascript">
var language_comparison = {
  ctx: document.getElementById("language_comparison").getContext("2d"),
  graph_data: {
    datasets: JSON.parse('<%= @dataset_information %>'),
    labels: JSON.parse('<%= @languages_labels %>')
  },
  options: {
    scaleShowLine : true,
    angleShowLineOut : true,
    scaleShowLabels : false,
    scaleBeginAtZero : true,
    angleLineColor : "rgba(0,0,0,.1)",
    angleLineWidth : 1,
    pointLabelFontFamily : "'Arial'",
    pointLabelFontStyle : "normal",
    pointLabelFontSize : 10,
    pointLabelFontColor : "#666",
    pointDot : true,
    pointDotRadius : 3,
    pointDotStrokeWidth : 1,
    pointHitDetectionRadius : 20,
    datasetStroke : true,
    datasetStrokeWidth : 2,
    datasetFill : true
  }
};

var language_reduction = {
  ctx: document.getElementById("language_reduction").getContext("2d"),
  graph_data: {
    datasets: JSON.parse('<%= @language_reduction_datasets %>'),
    labels: JSON.parse('<%= @languages_labels %>')
  },
  options: {}
};

var myRadarChart = new Chart(language_comparison.ctx).Radar(language_comparison.graph_data, language_comparison.options);
var myBarChart = new Chart(language_reduction.ctx).Bar(language_reduction.graph_data, language_reduction.options);
</script>
