<h2 class="text-center"> Comparison between <a href="http://github.com/<%= params[:user] %>"><%= params[:user] %></a> (red) and <a href="http://github.com/<%= params[:other_user] %>"><%= params[:other_user] %></a> (blue)</h2>
<canvas id="language_comparison" width="400" height="400" style="display: block; width: 0 auto; margin: 0 auto"></canvas>

<p class="text-center">
<%= @result.user_a.login %> commits <%= @result.user_a_commits %><br/>
<%= @result.user_b.login %> commits <%= @result.user_b_commits %><br/>
Values representing presence of skill overall authored commits (in percentage).<br/>
Eg.: 30.0 in Ruby, means a 3 out of 10 commits have Ruby as a skill.<br/>
</p>

<script type="text/javascript">
var ctx = document.getElementById("language_comparison").getContext("2d");
var data = {
  labels: [<%= @languages_labels %>],
  datasets: [
  {
    label: "<%= params[:user] %>",
    fillColor: "rgba(220,0,0,0.2)",
    strokeColor: "rgba(220,0,0,1)",
    pointColor: "rgba(220,0,0,1)",
    pointStrokeColor: "#fff",
    pointHighlightFill: "#fff",
    pointHighlightStroke: "rgba(220,0,0,1)",

    data: [<%= @user_languages_vector.join(",") %>]
  },
  {
    label: "<%= params[:other_user] %>",
    fillColor: "rgba(151,187,205,0.2)",
    strokeColor: "rgba(151,187,205,1)",
    pointColor: "rgba(151,187,205,1)",
    pointStrokeColor: "#fff",
    pointHighlightFill: "#fff",
    pointHighlightStroke: "rgba(151,187,205,1)",
    data: [<%= @other_user_languages_vector.join(",") %>]
  }
  ]
};
var options = {
    //Boolean - Whether to show lines for each scale point
    scaleShowLine : true,

    //Boolean - Whether we show the angle lines out of the radar
    angleShowLineOut : true,

    //Boolean - Whether to show labels on the scale
    scaleShowLabels : false,

    // Boolean - Whether the scale should begin at zero
    scaleBeginAtZero : true,

    //String - Colour of the angle line
    angleLineColor : "rgba(0,0,0,.1)",

    //Number - Pixel width of the angle line
    angleLineWidth : 1,

    //String - Point label font declaration
    pointLabelFontFamily : "'Arial'",

    //String - Point label font weight
    pointLabelFontStyle : "normal",

    //Number - Point label font size in pixels
    pointLabelFontSize : 10,

    //String - Point label font colour
    pointLabelFontColor : "#666",

    //Boolean - Whether to show a dot for each point
    pointDot : true,

    //Number - Radius of each point dot in pixels
    pointDotRadius : 3,

    //Number - Pixel width of point dot stroke
    pointDotStrokeWidth : 1,

    //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
    pointHitDetectionRadius : 20,

    //Boolean - Whether to show a stroke for datasets
    datasetStroke : true,

    //Number - Pixel width of dataset stroke
    datasetStrokeWidth : 2,

    //Boolean - Whether to fill the dataset with a colour
    datasetFill : true
};

var myRadarChart = new Chart(ctx).Radar(data, options);
</script>
